@import "./_colors";
@import "./_breakpoints";

$font-size-medium: 16px;
$font-montserrat: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base: 16px;

$timing: 0.33s;
$timing-fast: $timing * 0.5;
$timing-long: $timing * 1.5;

@mixin font-montserrat {
  font-family: $font-montserrat;

  line-height: 1.07;
  font-weight: 500;
  letter-spacing: 0.01em;
}

$noise-bg: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAlBAMAAAA3sD0wAAAAD1BMVEUAAADv7+/q6uro6Ojl5eWwy84/AAAABXRSTlMAAwkOF8JfOpkAAAEqSURBVCjPVVKLcYUwDJMdBlDoAqZdIPQtwP5TNVLguEK+tuxYSoACBgigfYNzTgAg4oSsoRZye11Y/YmJ0QF2m/bGOUcZnDGwvnADmyYm7mx94nghsQsMhsFfSu9QjkSgdFqD3TY3jJX0HUH0f0c9J+M4lJxzASr0V5j7pIVjhVxkeJvz7+IAE8LO4WSF7MLVpd2FZkbu0ZEhs9OsIm6SpokydxmjOhoUfK1KNyHBOCxnFuCoDyqIH5HenInIyngIJtriS+FsnfvSImo6mdHxfq57WqWuy1ahrm80Uztv8azLnTn6+Ui8DdKo6rRP+B0bH5mI9BiwliEuVrNok0HH9t7Xe0WttP6EUanbd2FnIw8cqfpsuYtiqIF+Ec8zNMgC+31+50tcbQ/8AXBnE04uBnGiAAAAAElFTkSuQmCC")
    repeat,
  center center,
  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAzBAMAAADIjy0ZAAAAD1BMVEUAAAAKCgoODg4RERETExNbXTfPAAAABXRSTlMABAkOFMaBU5oAAAHrSURBVDjLdVQBtuIwCBxID4C6B6B6gegJ0r///mdaGFKrfW8xTUNgSBioMDTARHCJEZqqdH3JBkDQTBBW5FyrEEfKw2M7YCWt3Iy68vHDl7AfLmKsBpfCGM0rZxk2zuBDeqGl4xGrgo8KvqYq2MXvhTS5xpSrUQHajA4xhUpuCcwkR2juN+LpUGf6NQDSb3sMnwZHIvHbZuaB1q6TiF2M2fEKv9cKm3ui4eSEkNgGK8semhz2mZCGy+D6JhW0RBQ3aPFoxd53ERa70N/I3M5mZdinI384h9EPMkftzjykwxVGe9ORSLZM4rVAC4PEdriy2m1UDWQv56qGkfqLdaC/CF+bmrpkGlp9N89/juqcBTaSmosyWPdieZDLy1E6l8pGOufQihGnNYKqHh3d686LYiM3FmjxapS2yMruNA7WI1N2+MdnQyrTTYUE3DtiMrFQrMCPTHnDFRBfxqpXdKm8KefK7afRTMtzbn31fjOwW3rm/8PCsqm8Hb3y3BdOZxbDq4FFhb1xJq6TF2GV7fNc50uNW6np+9vNkqezp78mukT5EPCV0a7cyN2MsZnna/dshMop/Wd1/7I5ptzj2RYuL2iZx98ZtJvKYngdn/68+P//u3ZR9k+ZO69qR/L29lJ/x7VcaWmi7Q9Bgn+jsCIsItq32QAAAABJRU5ErkJggg==")
    repeat,
  center center;

@mixin fixed-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin global-padding {
  padding-left: $base * 2;
  padding-right: $base * 2;
  @include breakpoint("sm") {
    padding-left: $base * 4;
    padding-right: $base * 4;
  }
}

@mixin global-arrow-prev {
  left: $base * -0.5;
  position: absolute;
  z-index: 1;
  @include breakpoint("sm") {
    left: $base * 0.5;
  }
  @include breakpoint("xxl") {
    left: $base * -4;
  }
}

@mixin global-arrow-next {
  right: $base * -0.5;
  position: absolute;
  z-index: 1;
  @include breakpoint("sm") {
    right: $base * 0.5;
  }
  @include breakpoint("xxl") {
    right: $base * -4;
  }
}
