@import "./_globals";
@import "./_easings";

// opacity, x-modifier, y-modifier, distance
$transitions: (
  slide-up: (
    o: 1,
    x: 0,
    y: 1,
    d: 100%
  ),
  slide-right: (
    o: 1,
    x: -1,
    y: 0,
    d: 100%
  ),
  slide-down: (
    o: 1,
    x: 0,
    y: -1,
    d: 100%
  ),
  slide-left: (
    o: 1,
    x: 1,
    y: 0,
    d: 100%
  ),
  fade-up: (
    o: 0,
    x: 0,
    y: 1,
    d: $base * 2
  ),
  fade-right: (
    o: 0,
    x: -1,
    y: 0,
    d: $base * 2
  ),
  fade-down: (
    o: 0,
    x: 0,
    y: -1,
    d: $base * 2
  ),
  fade-left: (
    o: 0,
    x: 1,
    y: 0,
    d: $base * 2
  ),
  fade: (
    o: 0,
    x: 0,
    y: 0,
    d: 0
  )
);

@each $name, $params in $transitions {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition-property: transform opacity;
    transition-duration: $timing;
  }
  .#{$name}-leave-active {
    transition-timing-function: $easeInCirc;
  }
  .#{$name}-enter-active {
    transition-timing-function: $easeOutCirc;
  }
  .#{$name}-enter,
  .#{$name}-leave-to {
    @if (map-get($params, y) != 0) or (map-get($params, x) != 0) {
      transform: translate(
        #{map-get($params, x) * map-get($params, d)},
        #{map-get($params, y) * map-get($params, d)}
      );
    }
    @if map-get($params, o) == 0 {
      opacity: #{map-get($params, o)};
    }
  }
}

.soar-enter-active,
.soar-leave-active {
  transition: all $timing * 2.5;
}
.soar-enter {
  opacity: 0;
  transition-timing-function: $easeInCubic;
  transform: translate(0, $base * 2);
}
.soar-leave-to {
  opacity: 0;
  transition-timing-function: $easeOutCubic;
  transform: translate(0, $base * -2);
}
