@import "_grid";
@import "_colors";
@import "_globals";
@import "_transitions";
@import "_typographic";
@import "hamburger";

[v-cloak] {
  display: none;
}

body {
  font-size: 14px;
  font-family: $font-montserrat;
  overflow-x: hidden;

  @include breakpoint("lg") {
    font-size: 16px;
  }

  background-color: $color-background;
  color: $color-text;
}

.page {
  position: relative;
  overflow-x: hidden;
  @include breakpoint("lg") {
    overflow: inherit;
  }
  &--ru {
    .hidden-ru {
      display: none;
    }
  }
  &--en {
    .hidden-en {
      display: none;
    }
  }
}

.noise-bg {
  background: $noise-bg;
  z-index: 9999;
  pointer-events: none;
  @include fixed-overlay;
  position: absolute;
}

.section {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 10vh 0;
  z-index: 1;

  &__container {
    max-width: 992px;
    margin: auto;

    @include breakpoint("xl") {
      max-width: 1024px;
    }
    @media screen and (min-width: 1600px) {
      max-width: 1200px;
    }
  }

  &__mountain {
    position: absolute;
    left: -25%;
    right: -25%;
    z-index: -1;
    pointer-events: none;

    @include breakpoint("sm") {
      left: -5%;
      right: -5%;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &--l {
      fill: $color-background--light;
    }
    &--n {
      fill: $color-background;
    }
    &--d {
      fill: $color-background--dark;
    }
    &--l-n {
      fill: url(#gradients_l-n);
    }
    &--l-n-n {
      fill: url(#gradients_l-n-n);
    }
    &--n-l {
      fill: url(#gradients_n-l);
    }
    &--n-d {
      fill: url(#gradients_n-d);
    }
    &--d-n {
      fill: url(#gradients_d-n);
    }
    &--d-n-n {
      fill: url(#gradients_d-n-n);
    }
    &--1-1 {
      top: 51%;
      padding-bottom: 388 / 1084 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 388 /1084 * 110%;
      }
    }
    &--1-2 {
      top: 48%;
      padding-bottom: 368 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 368 / 1121 * 110%;
      }
    }
    &--1-3 {
      right: -5%;
      left: 26%;
      top: 62%;
      padding-bottom: 318 / 493 * 79%;
      z-index: 0;
    }
    &--2-1 {
      top: 3%;
      padding-bottom: 132 / 393 * 110%;
    }
    &--2-2 {
      left: -25%;
      right: -25%;
      top: 15%;
      padding-bottom: 226 / 718 * 150%;
      @include breakpoint("md") {
        top: 0;
      }
      @include breakpoint("lg") {
        left: -50%;
        right: -50%;
        padding-bottom: 226 / 718 * 200%;
      }
    }
    &--2-3 {
      left: -25%;
      right: -25%;
      top: 20%;
      padding-bottom: 192 / 568 * 150%;
      @include breakpoint("md") {
        top: 0;
      }
      @include breakpoint("lg") {
        left: -60%;
        right: -40%;
        top: 0%;
        padding-bottom: 192 / 568 * 200%;
      }
    }
    &--3-1 {
      top: 2%;
      padding-bottom: 552 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 552 / 1121 * 110%;
      }
      @include breakpoint("lg") {
        top: -10%;
      }
    }
    &--3-2 {
      top: 4%;
      padding-bottom: 465 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 465 / 1121 * 110%;
      }
    }
    &--4-1 {
      top: -10%;
      padding-bottom: 381 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 381 / 1121 * 110%;
      }
      @include breakpoint("lg") {
        top: -20%;
      }
    }
    &--5-1 {
      top: -3%;
      padding-bottom: 587 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 587 / 1121 * 110%;
      }
    }
    &--5-2 {
      top: -5%;
      padding-bottom: 521 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 521 / 1121 * 110%;
      }
    }
    &--5-3 {
      padding-bottom: 432 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 432 / 1121 * 110%;
      }
      bottom: -5%;
    }
    &--6-1 {
      left: -5%;
      right: 591 / 1121 * 100%;
      top: 0;
      padding-bottom: 223 / 1121 * 105%;
    }
    &--6-2 {
      left: 174 / 1121 * 100%;
      right: 131 / 1121 * 100%;
      top: 2%;
      padding-bottom: 262 / 1121 * 80%;
    }
    &--6-3 {
      left: (1121 - 513) / 1121 * 100%;
      right: -5%;
      top: -2%;
      padding-bottom: 230 / 1121 * 105%;
    }
    &--6-4 {
      top: 0;
      padding-bottom: 538 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 538 / 1121 * 110%; //47.992863514719% ;
      }
    }
    &--6-5 {
      top: -2%;
      padding-bottom: 490 / 1121 * 150%;
      @include breakpoint("sm") {
        padding-bottom: 490 / 1121 * 110%;
      }
    }
    &--7-1 {
      top: 0%;
      padding-bottom: 226 / 685 * 150%; // 47.21448467966574%;
      @include breakpoint("sm") {
        top: -10%;
      }
      @include breakpoint("lg") {
        left: -50%;
        right: -50%;
        top: -15%;
        padding-bottom: 226 / 685 * 200%; //62.95264623955432%;
      }
    }
    &--7-2 {
      top: -5%;
      padding-bottom: 210 / 586 * 150%; // 55.5984555984556%;
      @include breakpoint("sm") {
        top: -5%;
      }
      @include breakpoint("lg") {
        left: -60%;
        right: -40%;
        top: -35%;
        padding-bottom: 210 / 586 * 200%; //74.13127413127414%;
      }
    }
  }
}

.title {
  font-size: $base * 3;
  font-weight: 800;
  letter-spacing: 0.01em;
  line-height: 0.9;
  margin: 0 0 $base * 1.5;

  @include breakpoint("lg") {
    font-size: $base * 5;
  }

  @include breakpoint("lg-height") {
    font-size: $base * 3.5;
  }

  &--display {
    @include breakpoint("lg") {
      font-size: $base * 6.875;
    }
  }
}

.subtitle {
  font-size: $base * 1.06;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 0.9;
  margin: 0 0 $base;
}

.spread-block {
  position: relative;
  z-index: 1;
  &__col {
    max-width: 320px;

    &--left {
      margin-right: auto;
    }
    &--middle {
      margin-left: auto;
      margin-right: auto;
      padding-top: $base * 6;
      @include breakpoint("lg") {
        margin-top: -25px;
      }
    }
    &--right {
      margin-left: auto;
      padding-top: $base * 6;
      @include breakpoint("lg") {
        margin-top: -25px;
      }
    }
  }
}

a {
  color: $color-text;
}

.slider-button {
  $block: &;
  display: block;
  border: 0;
  margin: 0;
  padding: 12px;
  cursor: pointer;
  background-color: $color-background;

  background-color: $color-background;
  transition: background $timing-fast;

  &__glyph {
    transition: fill $timing-fast;
    fill: $color-primary;
  }

  &:hover {
    background-color: $color-primary;

    #{$block}__glyph {
      fill: $color-background--dark;
    }
  }

  &--dark {
    background-color: $color-background--dark;
  }

  &--light {
    background-color: $color-background--light;
  }

  &--round {
    border-radius: 50%;
  }

  &:focus {
    outline: none;
  }

  &--disabled {
    cursor: not-allowed;
    background-color: $color-unactive;
    #{$block}__glyph {
      fill: $color-unactive--light;
    }
    &:hover {
      background-color: $color-unactive;
      #{$block}__glyph {
        fill: $color-unactive--light;
      }
    }
  }
}

.gradient__l-n {
  fill: linear-gradient(to bottom, $color-background--light, $color-background);
}

.swiper-container {
  z-index: auto;
  width: 100%;
}

.swiper-container-vertical > .swiper-scrollbar-white {
  background: rgba(255, 255, 255, 0.1);
  right: 20px;
  width: 2px;
}

.swiper-container-vertical > .swiper-scrollbar-white > .swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 0.5);
}

.button {
  color: $color-primary;
  border: 2px solid;
  padding: $base $base * 2;
  background: none;
  font: inherit;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  transition: all $timing-fast;

  &:focus {
    outline: none;
  }
  &--wide {
    width: 100%;
  }
  &:hover,
  &:active {
    color: $color-text;
    background: $color-primary;
    border-color: $color-primary;
  }
  &:disabled {
    cursor: not-allowed;
    color: $color-background--light;
    background: none;
    border-color: $color-background--light;
  }
}

.dots {
  background: repeating-linear-gradient(
    to right,
    transparentize($color-text, 0.5),
    transparentize($color-text, 0.5) 2px,
    transparent 2px,
    transparent 20px
  );
  height: 2px;

  @include breakpoint("xxl") {
    margin-left: $base * -4;
    margin-right: $base * -4;
  }
}

.scrolldown {
  $block: &;

  top: 0;
  bottom: 0;
  position: absolute;
  width: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;

  &--above {
    z-index: 1;
  }

  &__dots {
    position: absolute;
    top: 0;
    bottom: 22%;
    width: 2px;
    left: 7px;
    background: repeating-linear-gradient(
      to bottom,
      transparentize($color-text, 0.8),
      transparentize($color-text, 0.8) 2px,
      transparent 2px,
      transparent 20px
    );
  }
  &__text {
    position: absolute;
    bottom: $base * 3.5;
    left: $base * 0.15;
    transform-origin: left bottom;
    transform: rotate(90deg) translate(-100%, 0);
    text-transform: uppercase;
    font-size: $base * 0.6;
    letter-spacing: 0.4em;
    color: transparentize($color-text, 0.8);
  }
  &__arrow {
    position: absolute;
    bottom: $base * 2;
    fill: transparentize($color-text, 0.8);
  }
  &--accent {
    #{$block}__dots {
      background: repeating-linear-gradient(
        to bottom,
        $color-text,
        $color-text 2px,
        transparent 2px,
        transparent 20px
      );
    }
    #{$block}__text {
      color: $color-text;
    }
    #{$block}__arrow {
      fill: $color-text;
    }
  }
}
